<div class="cm-tips-modal">
    <div class="modal-header">
        <h3 class="modal-title text-base" id="modal-title">{{options.headerText}}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                <span aria-hidden="true">&times;</span>
            </button></h3>
    </div>
    <div class="modal-body" id="modal-body">
        <p class="modal-tips-icon text-center text-danger" ><i ng-class="options.iconClass"></i></p>
        <p class="modal-tips text-center text-base">{{options.msg}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info w-xs" type="button" ng-click="ok()">确定</button>
        <button class="btn btn-default w-xs" type="button" ng-hide="options.type == 'alert'" ng-click="cancel()">取消</button>
    </div>
</div>